.card {
	border-radius: 0.5em;
	padding: 0.75em;
	border: 1px solid var(--text--active-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;

	flex-basis: 30%;
}

.period {
	font-size: 1rem;
	font-weight: 600;
}

.temp {
	font-size: 1.5rem;
	opacity: 0.8;
}

.description {
	opacity: 0.6;
	font-size: 1rem;
}
