:root {
	--text-color: #232323;
	--text--active-color: #696969;
	--background-color: #fafafa;
	--secondary-backround-color: #f6f6f6;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	font-size: 1.25rem;
	font-weight: 500;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	width: 70%;
	padding: 2% 5%;
}

.header__city {
	justify-self: start;

	font-size: 1.25rem;
	font-weight: 500;
	color: var(--text-color);

	background-color: transparent;
	border: none;
	outline: none;

	cursor: pointer;

	padding: 0.5em;
	transition: background-color 0.2s linear;
}

.header__city:hover {
	background-color: #f0f0f0;
}

.header__date {
	justify-self: center;
}

.sidebar {
	min-height: 100vh;
	height: max-content;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%;
	background-color: var(--secondary-backround-color);

	padding: 2%;

	text-align: center;
}

.sidebar h1 {
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.sidebar__time {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 2rem;
	display: block;
}

.hourly-forecast {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}

.sidebar__hourly {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

main {
	width: 70%;
	padding: 2% 5%;
}

.sidebar__burger {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.error {
	color: red;
	text-align: center;
}

@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 992px) {
	.header {
		width: 90%;
	}

	main {
		width: 90%;
	}

	.sidebar {
		width: 10%;

		transition: width 0.2s linear;
	}

	.sidebar.active {
		width: 40%;
	}
}

@media (max-width: 575px) {
	html {
		font-size: 8px;
	}

	.sidebar {
		width: 10%;

		transition: width 0.2s linear;
	}

	.sidebar.active {
		width: 70%;
	}
}
